* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow: visible;
    padding: 8px;
    background-color: #fff;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: visible;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    margin: 0;
    display: block;
    background-color: #fff;
    min-height: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
    padding: 4em 5em 4em 5em;
}

@media (min-width: 1200px){
    .container {
        width: 1140px;
    }
}

@media (min-width: 992px){
    .container {
        width: 940px;
    }
}
@media (min-width: 768px){
    .container {
        width: 768px;
    }
}

p {
    padding: 10px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    line-height: 1.0;
    padding: 10px;
}
h1 {
    font-size: 185.7%;
    margin: 1.08em 0 0 0;
}
h2 {
    font-size: 157.1%;
    margin: 1.4em 0 0 0;
    line-height: 1.5;
}
h3 {
    font-size: 128.6%;
    margin: 1.27em 0 0 0;
}
h4, h5, h6 {
    font-size: 100%;
}
h4 {
    margin: 1em 0 0 0;
}
h5, h6 {
    margin: 1em 0 0 0;
    font-style: italic;
}
h5 {
    padding-left: 30px;
}
h6 {
    padding-left: 60px;
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    color: black;
    table-layout: fixed;
    display: inline;
    background-color: transparent;
}

table {
    display: inline;
}
tr, th, td {
    padding: 10px;
}
tr#td {
    font-weight: normal !important;
    font-size: 100%;
}
th {
    font-weight: normal;
    font-size: 90%;
    border-bottom: 1px solid #ddd !important;
}
th#chap {
    font-size: 140%;
    font-weight: bold;
    text-align: left;
}
td {
    border: 0 !important;
    font-size: 120%;
}

img {
    display: block;
    margin: auto;
}

#bottom td{
    font-size: 120%;
    text-align: center;
}

#auteurs td{
    font-size: 100% !important;
    padding-top: 0px !important;
}
#auteurs img{
    vertical-align: middle;
}

#license {
    font-style: italic;
}
#license img {
    vertical-align: middle;
    display:inline;
}

code, .codehilite pre {
    background-color: #f8f8f8;
    border-radius: 3px;
}

code, tt {
    margin: 0 5px 0 2px;
    padding: 2px 4px 2px 4px;
    text-align: start;
    display: inline;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    color: #333;
}

.codehilite pre {
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
}

.codehilite code {
    margin: 0 0;
    white-space: pre;
    border: none;
    padding: 0 0px;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toc {
    padding-left: 15px;
    font-size: 0.95em;
}

.toc ul {
    padding-left: 15px;
  }

.toc ul ul {
    padding-left: 15px;
  }

.menu img {
    display: inline;
    vertical-align: text-bottom;
}