.ipynb_checkpoints/
*.swp
*.html
hello.py
__pycache__/fibo.cpython-36.pyc
fibo.py
sample.txt
workfile.json
workfile.txt
today/backup.db
today/data.db
test.out
circle.png
*.h5
*.npy
dgemm.f
dgemm.pyf
euclidian_norm.f
euclidian_norm.f90
mylapack.cpython-36m-darwin.so
*.so
vect.cpython-36m-darwin.so.dSYM/Contents/Info.plist
*.out
*.o
*.d
*.c
examples/
setup.py
lp_results.txt
sparkmonitor_kernelextension.log
*.pyc
solutions/__pycache__/__init__.cpython-36.pyc
solutions/classes/__pycache__/__init__.cpython-36.pyc
solutions/classes/__pycache__/grocery.cpython-36.pyc
solutions/classes/__pycache__/polynomial.cpython-36.pyc
ipython_cell_input.py
sparkmonitor_serverextension.log
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
None0000000.png
tests.py
*.pyc
solutions/classes/__pycache__/__init__.cpython-36.pyc
solutions/classes/__pycache__/grocery.cpython-36.pyc
solutions/classes/__pycache__/polynomial.cpython-36.pyc
envs/
.doit.db
build/
pool.py
process_pool.py
notebooks/cython_f_example.pyx
notebooks/cython_omp.pyx
notebooks/today/data.db
notebooks/today/backup.db
notebooks/_build/
notebooks/today/
notebooks/demo.py
